node_modules
.next
out
.git
.gitignore
Dockerfile
.dockerignore
npm-debug.log*

.env
.env.*
!.env.example

dev.db
dev.db-journal
*.log
*.tsbuildinfo

public/uploads
public/pdf.worker.min.mjs

.vercel
README.md
